## Homework_2021_11_3
截止时间：11.5下午两点

### Exercise 1 Pandas基础练习

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

data = {
    'age': [24, 53, 23, 24, 33, 42, 57, 57, 36, 29, 53, 39],
    'gender': ['M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F'],
    'occupation': ['technician', 'other', 'writer', 'technician', 'technician', 'executive', 'administrator', 'administrator', 'administrator', 'student', 'lawyer', 'other'],
    'zip_code': ['85711', '94043', '32067', '43537', '15213', '98101', '91344', '91344', '05201', '01002', '90703', '30329']
}

创建一组从1开始递增的id，作为行索引，由data生成一个DataFrame：

In [ ]:
# TODO

以gender分组，并打印每组的前两条：

In [ ]:
# TODO

删除DataFrame中重复的行（保留一行），再删除所有occupation为"other"的行

In [ ]:
# TODO

以两种方式访问DataFrame的第一行：

In [ ]:
# TODO

以两种方式访问DataFrame的"occupation"列：

In [ ]:
# TODO

打印出DataFrame中出现次数最多的职业名称：

In [ ]:
# TODO

将data_2转换成DataFrame，与上一个DataFrame按照"zip_code"这一列合并，按两种合并方式：

1.合并后结果保留两个DataFrame的并集；
2.合并后只保留data_2的所有数据

In [ ]:
data_2 = {
    'zip_code': ['85711', '94043', '15213', '98101', '30329'],
    'name': ['Alan', 'Alice', 'Abigail', 'Bob', 'Dave']
}
df2 = pd.DataFrame(data_2)

# TODO

### Exercise 2 Pandas数据分析
#### 前三题为必做，之后为选做。

使用Pandas的read_csv函数读取 IBM_2006-01-01_to_2018-01-01.csv 中的数据，得到一个DataFrame，并打印该数据的前10行观察一下。

In [11]:
import pandas as pd

IBM_file = 'IBM_2006-01-01_to_2018-01-01.csv'
# TODO

该数据列索引对应的分别是：日期，开盘价，最高价，最低价，收盘价，成交量，股票名称。
通过shape和info()查看数据基本信息：

In [ ]:
#TODO

观察到Open与Low这两列相比其他列都缺了一项，请删除DataFrame中所有不完整的数据：

In [ ]:
# TODO

除此之外还能观察到，由于股市周末和节假日不开盘，日期为2006-01-06的下一条数据就是2006-01-09，缺少了中间两天的数据。为了便于后续处理，请将所有缺少的数据按照以下规则补充：成交量（volume）填充为零，开盘价等价格与前一天（最近的有数据的一天）保持相同。**（选做）**

提示：使用pandas.date_range生成时间序列

In [ ]:
# TODO

在DataFrame中按月份聚合，计算一年当中每个月的成交量总和，以及每个月收盘价的次高值。
提示：可以通过apply方法实现自定义的聚合函数。（有多个相同值的话，这里先简单地按照排完序取下标第二个就行了）**（选做）**

In [ ]:
# TODO

滑动平均值可以平滑曲线，反应股票价格长期的走势。请在DataFrame中添加一列'Avg_Close'，计算每天股票收盘价的滑动平均值（滑动窗口为过去的30天）。
并在同一张图中绘制出2016年每天股票的收盘价和收盘价滑动平均值的变化曲线。**（选做）**

In [ ]:
# TODO

在股票数据的DataFrame中新增一列'Increase'，根据收盘价计算每天的股票涨跌幅，这里暂且定义为：
$inc_t = (close_t - close_{t - 1}) / close_{t - 1}$**（选做）**

In [ ]:
# TODO

股市及期货市场中常用K线图反映大势的状况和价格信息，k线图的画法包含四个数据，即开盘价、最高价、最低价、收盘价，所有的k线都是围绕这四个数据展开，开盘价高于收盘价和开盘价低于收盘价这两种情况以不同的颜色体现。

![jupyter](./candlestick.jpg)

请以2016年1月初到3月底的数据，根据每日股票价格绘制出K线图。**（选做）**

提示：可以借助mplfinance库，在调用plot时指定type='candle'，或者使用旧方法from mplfinance.original_flavor import candlestick_ohlc

In [ ]:
# TODO

读取AMZN_2006-01-01_to_2018-01-01.csv，其中包含了Amazon的股票数据。
请以Date作为索引，'IBM'和'AMZN'作为列索引，构建一个Dataframe，其中的数据为两家公司每天的股票收盘价。**（选做）**

In [ ]:
AMZN_file = 'AMZN_2006-01-01_to_2018-01-01.csv'
IBM_file = 'IBM_2006-01-01_to_2018-01-01.csv'

AMZN_data = pd.read_csv(AMZN_file)
IBM_data = pd.read_csv(IBM_file)

# TODO